[submodule "gs_examples_serialization"]
	path = gs_examples_serialization
	url = https://github.com/lucacastaldini/gs_examples_serialization.git
[submodule "src/zeromq/deps/cppzmq"]
	path = src/zeromq/deps/cppzmq
	url = https://github.com/zeromq/cppzmq.git
